<%= render 'layouts/navbar'%>

<div class="container margin-top">
	<div class="row text-center">
		<h2>
		  Hello 
		  <%= @applicant.first_name %>
		  <br/>
		  Edit your application details
		</h2>
	</div>
	



	<%= render 'form', applicant: @applicant %>

	<div class="row text-center">
		<%= link_to 'Back to details', @applicant ,class:"" %>

	</div>

	

</div>